@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #24252A;
    color: #edf0f1;
}